.grid{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    width: 100vw;
}

.gallery-div{
    max-width: 250px;
    max-height: 250px;
}

#imageCreation{
    display: none;
}